<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.will.custom_rxandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.rx.elementary.ElementaryActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.rx.map.MapActivity" />
        <activity android:name=".ui.rx.zip.ZipActivity" />
        <activity android:name=".ui.rx.token.TokenActivity" />
        <activity android:name=".ui.rx.token_avanced.TokenAvancedActivity" />
        <activity android:name=".ui.rx.cache.CacheActivity" />
        <activity android:name=".ui.rx.time.TimeActivity" />
        <activity android:name=".ui.rx.some_operator.OperatorActivity" />
        <activity android:name=".ui.rx.subject.SubjectActivity" />
        <activity android:name=".ui.custom_view.CustomViewActivity" />
        <activity android:name=".ui.drawable_test.DrawableActivity" />
        <activity android:name=".ui.pull_to_refresh.PullToRefreshActivity" />
        <activity android:name=".ui.download.DownLoadByThreadPoolActivity" />
        <activity android:name=".ui.download.DownLoadActivity" />
        <activity android:name=".ui.exception.OOMActivity" />
        <activity android:name=".ui.web.WebActivity" />
        <activity android:name=".ui.exception.ANRActivity" />
        <activity android:name=".ui.http.HttpActivity" />
        <activity android:name=".ui.glide.GlideActivity" />
        <activity android:name=".ui.some_layout.CoordinatorLayoutActivity" />

        <!-- dailymasala-content://share/dad16709df3c07c6d9c5677aefe76cca -->
        <activity
            android:name=".ui.web.CustomRouterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="share"
                    android:scheme="dailymasala-content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.slidefinish.SlideFinishActivity"
            android:label="@string/title_activity_slide_finish"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".ui.custome_view_viewdraphelper.ViewDragHelperTest" />
        <activity android:name=".ui.custome_view_viewdraphelper.DrawActivity" />
    </application>

</manifest>